@use "../../scss/vars" as *;

.history-container {
    border: 4px solid $history-border;
    position: relative;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    background: $history-background;


    &__top {
        margin-left: 20px;

        &__header {
            border: 4px solid $card-border;
            padding: 5px;
            border-radius: 15px;
            margin-top: 5px;
            background: $history-header-background;

            h1 {
                font-family: $card-subtitle-font;
                font-size: 25px;
            }
            p {
                font-family: $card-subtitle-font;
                font-weight: bolder;
            }

        }

       h3, h4 {
        font-family: $card-subtitle-font;
        color: $card-primary-font-color;
       }


    }

    &__mid {
        font-family: $card-teritary-font;
        font-weight: bolder;
        font-size: 25px;
        border: 4px solid $card-border;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 25px;
        background: $history-header-background;
    }

    &:after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(rgb(0, 0, 0), 0.2);
        border-radius: 27px;
    }
}
