@use '../../scss/vars' as *;

.weather-data {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 2px solid red;

    &__top {
        margin-left: 20px;
    }
}