@use '../../scss/vars' as *;

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary-background;

    &__heading {
        margin-left: 15px;
    }
}