@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');




$primary-background: rgba(222, 201, 161, 0.74);
$default-background: rgba(241, 233, 197, 0.729);

$card-background: rgb(213, 186, 136);
$card-teritary-background: rgb(237, 185, 87);



$card-border: rgb(195, 149, 64);

$card-title-font: 'Righteous', cursive;
$card-subtitle-font: 'Krona One', sans-serif;
$card-teritary-font: 'Rajdhani', sans-serif;


$card-primary-font-color: rgb(27, 26, 26);


$history-background: rgb(182, 182, 231);

$history-border: rgb(99, 99, 217);